<a href="https://colab.research.google.com/github/abdoulahat/Learn_Python/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ce document est en cours. Je vais donner les détails de chacun des points. Merci pour votre compréhension.

##**Pandas Dataframes**

###### **Script pour concacténer plusieurs dataframe**

In [0]:
import os
import pandas as pd
os.chdir(path)

dfs = [pd.read_csv(f, sep=',') for f in os.listdir(os.getcwd())]

finaldf = pd.concat(dfs, axis=0, join='inner').sort_index()

### **1. Create DataFrame from Dictionary using default Constructor**

In [0]:
import pandas as pd
 
def main():
    
    # Dictionary with list object in values
    studentData = {
        'name' : ['jack', 'Riti', 'Aadi'],
        'age' : [34, 30, 16],
        'city' : ['Sydney', 'Delhi', 'New york']
    }
    
    print('Creating Dataframe from Dictionary\n')
    ''' 
    Pass dictionary in Dataframe constructor to create a new object
    keys will be the column names and lists in values will be column data
    '''
    dfObj = pd.DataFrame(studentData) 
    print(dfObj)
    print('\nCreating Dataframe from Dictionary and Custom Indexes\n')
    # Pass custom names of index as list during initialization
    dfObj = pd.DataFrame(studentData, index=['a', 'b', 'c'])
    print(dfObj) 
    print('\nCreating Dataframe from non compatible Dictionary\n')
    studentAgeData = {
        'Jack' : 12,
        'Roma' : 13,
        'Ritika' : 10,
        'Aadi' : 11
    }
    
    '''
    Creating dataframe by converting dict to list of items
    '''
    dfObj = pd.DataFrame(list(studentAgeData.items()), index=['a', 'b', 'c', 'd'])
    print(dfObj)
    print('\nCreating Dataframe from Dictionary by Skipping data\n')
    studentData = {
        'name' : ['jack', 'Riti', 'Aadi'],
        'age' : [34, 30, 16],
        'city' : ['Sydney', 'Delhi', 'New york']
    }
    
    # Creating Dataframe from Dictionary by Skipping 2nd Item from dict
    dfObj = pd.DataFrame(studentData, columns=['name', 'city']) 
    print(dfObj)
    print('\nCreating Dataframe from Dictionary With different orientation\n')
    # Create dataframe from dic and make keys, index in dataframe
    dfObj = pd.DataFrame.from_dict(studentData, orient='index')
    print(dfObj)
    print('\nCreating Dataframe from nested Dictionary\n')
    # Nested Dictionary
    studentData = { 
    0 : {
        'name' : 'Aadi',
        'age' : 16,
        'city' : 'New york'
        },
    1 : {
        'name' : 'Jack',
        'age' : 34,
        'city' : 'Sydney'
        },
    2 : {
        'name' : 'Riti',
        'age' : 30,
        'city' : 'Delhi'
        }
    }
 
    '''
    Create dataframe from nested dictionary 
    '''
    dfObj = pd.DataFrame(studentData) 
    print(dfObj)
    print("\nTranspose the dictionary\n")
    # Transpose dataframe object
    dfObj = dfObj.transpose()
    print(dfObj)
 
if __name__ == '__main__':
    main()

Creating Dataframe from Dictionary

   name  age      city
0  jack   34    Sydney
1  Riti   30     Delhi
2  Aadi   16  New york

Creating Dataframe from Dictionary and Custom Indexes

   name  age      city
a  jack   34    Sydney
b  Riti   30     Delhi
c  Aadi   16  New york

Creating Dataframe from non compatible Dictionary

        0   1
a    Jack  12
b    Roma  13
c  Ritika  10
d    Aadi  11

Creating Dataframe from Dictionary by Skipping data

   name      city
0  jack    Sydney
1  Riti     Delhi
2  Aadi  New york

Creating Dataframe from Dictionary With different orientation

           0      1         2
name    jack   Riti      Aadi
age       34     30        16
city  Sydney  Delhi  New york

Creating Dataframe from nested Dictionary

             0       1      2
name      Aadi    Jack   Riti
age         16      34     30
city  New york  Sydney  Delhi

Transpose the dictionary

   name age      city
0  Aadi  16  New york
1  Jack  34    Sydney
2  Riti  30     Delhi

### **2. How to get column and row names in DataFrame**

In [0]:
def main():
    
    # List of Tuples
    students = [ ('jack', 34, 'Sydeny' , 'Australia'),
                 ('Riti', 30, 'Delhi' , 'India' ),
                 ('Vikas', 31, 'Mumbai' , 'India' ),
                 ('Neelu', 32, 'Bangalore' , 'India' ),
                 ('John', 16, 'New York' , 'US'),
                 ('Mike', 17, 'las vegas' , 'US')  
                 ]
    
    # Create DataFrame object
    dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City' , 'Country'], index=['a', 'b', 'c' , 'd' , 'e' , 'f'])
    print("Original Dataframe" , dfObj, sep='\n')
    '''
    Get Column Names
    '''
    # Get ndArray of all column names 
    columnsNamesArr = dfObj.columns.values
    # convert ndarray to list
    listOfColumnNames = list(columnsNamesArr)
    print("\nList Of Column Names" , listOfColumnNames, sep='\n')
    print("\nColumn name at index 2" , dfObj.columns.values[2], sep='\n')
    '''
    Get Row Names
    '''
    # get a list of all the column names 
    indexNamesArr = dfObj.index.values
    # convert ndarray to list
    listOfRowIndexLabels = list(indexNamesArr)
    print("\nList Of Row Index Labels" , listOfRowIndexLabels, sep='\n')  
    print("\nRow Index Label at index 2" , dfObj.index.values[2], sep='\n')
       
if __name__ == '__main__':
    main()

Original Dataframe
    Name  Age       City    Country
a   jack   34     Sydeny  Australia
b   Riti   30      Delhi      India
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US
f   Mike   17  las vegas         US

List Of Column Names
['Name', 'Age', 'City', 'Country']

Column name at index 2
City

List Of Row Index Labels
['a', 'b', 'c', 'd', 'e', 'f']

Row Index Label at index 2
c

### **3. Replace or change Column & Row index names in DataFrame**

In [0]:
import pandas as pd
 
def main():
    
    students = [ ('jack', 34, 'Sydeny') ,
                 ('Riti', 30, 'Delhi' ) ,
                 ('Aadi', 16, 'New York') ]
    
    # Create a DataFrame object
    dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City'], index=['a', 'b', 'c']) 
    print("Original DataFrame : " , dfObj, sep="\n");
    '''
    Get All Columns Names in DataFrame 
    '''
    columnsNamesArr = dfObj.columns.values
    print("\nColumn Names : " , columnsNamesArr)
    '''
    Get Columns Name by Index/position in DataFrame 
    '''
    print("\nColumn Names at index 2: " , dfObj.columns.values[2])
    '''
    Pandas : Modify Column Name in DataFrame 
    '''        
    columnsNamesArr[0] = 'Test'
    print("\nModified Column Names : " , columnsNamesArr)
    print("\nModified DataFrame : ")
    print(dfObj)
    '''
    Get Copy of all Columns Names in DataFrame 
    '''
    # get a copy list of all the column names 
    columnsNames = list(dfObj.columns.values) 
    print("\nColumn Names : " , columnsNames)
    # Modify Column Name
    columnsNames[0] = 'Test_Name'
    print("\nModified Column Names : " , columnsNames)
    print("\nDataFrame : ", dfObj)
    '''
    Get List of All Index Names in DataFrame
    '''
    # get a list of all the column names 
    indexNamesArr = dfObj.index.values
    
    print("\nAll Index Names : " , indexNamesArr)
    '''
    Get Row Index Names in DataFrame by Poisition
    '''
    print("\nRow Index Names at position 2: " , dfObj.index.values[2])
    '''
    Pandas : Modify Row Index Name in DataFrame 
    '''        
    # Modify a Row Index Name
    indexNamesArr[0] = 'P'
    
    print("\nModified Row Index Names : " , indexNamesArr)
    print("\nModified DataFrame : ", dfObj, sep='\n')
    '''
    Get Copy of all Row Index Names in DataFrame 
    '''
    # get a copy list of all the column names 
    indexNames = list(dfObj.index.values)
    print("\nAll Row Index Names : " , indexNames)
    
if __name__ == '__main__':
    main()

Original DataFrame :
   Name  Age      City
a  jack   34    Sydeny
b  Riti   30     Delhi
c  Aadi   16  New York

Column Names :  ['Name' 'Age' 'City']

Column Names at index 2:  City

Modified Column Names :  ['Test' 'Age' 'City']

Modified DataFrame :
   Test  Age      City
a  jack   34    Sydeny
b  Riti   30     Delhi
c  Aadi   16  New York

Column Names :  ['Test', 'Age', 'City']

Modified Column Names :  ['Test_Name', 'Age', 'City']

DataFrame :     Test  Age      City
a  jack   34    Sydeny
b  Riti   30     Delhi
c  Aadi   16  New York

All Index Names :  ['a' 'b' 'c']

Row Index Names at position 2:  c

Modified Row Index Names :  ['P' 'b' 'c']

Modified DataFrame :
   Test  Age      City
P  jack   34    Sydeny
b  Riti   30     Delhi
c  Aadi   16  New York

All Row Index Names :  ['P', 'b', 'c']

### **4. Select Rows & Columns by Name or Index in DataFrame using loc & iloc**

In [0]:
# dataFrame.loc[<ROWS RANGE> , <COLUMNS RANGE>]

In [0]:
# dataFrame.iloc[<ROWS INDEX RANGE> , <COLUMNS INDEX RANGE>]

In [0]:
import pandas as pd
 
def main():
    
    students = [ ('jack', 34, 'Sydeny') ,
                 ('Riti', 30, 'Delhi' ) ,
                 ('Aadi', 16, 'New York') ]
    
    # Create a DataFrame object
    dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City'], index=['a', 'b', 'c']) 
    print("Original DataFrame : ", dfObj, sep="\n")
    print("\n***** Select Columns in DataFrame by [] *********\n")
    '''
    Select a Column by Name using []
    '''
    column2 = dfObj['Age']
    print("\nSelect column By Name using [] " , column2 , sep='\n')
    print("Type : " , type(column2))
    '''
    Select  Multiple Column by Name using []
    '''
    column2 = dfObj[['Age', 'Name']]
    print("\nSelect multiple columns By Name using [] " , column2 , sep='\n')
    print("Type : " , type(column2))
    print("\n**** Selecting by Column Names & Rows Index Labels Using df.loc ******\n")
    '''
    Selecting a Single Column by Column Names
    '''
    columnsData = dfObj.loc[ : , 'Age' ]
    print("\nSelect a column By Name using loc " , columnsData , sep='\n')
    print("Type : " , type(columnsData))
    '''
    Selecting multiple Columns by Column Names
    '''
    # Select only 2 columns from dataFrame and create a new subset DataFrame
    columnsData = dfObj.loc[ : , ['Age', 'Name'] ]
    print("\nSelect multiple columns By Name using loc " , columnsData , sep='\n')
    print("Type : " , type(columnsData))   
    '''
    Selecting a Single Row by Index label
    '''   
    rowData = dfObj.loc[ 'b' , : ]  
    print("\nSelect a Single Row " , rowData , sep='\n')
    print("Type : " , type(rowData))  
    '''
    Selecting multiple Rows by Index labels
    '''
    rowData = dfObj.loc[ ['c' , 'b'] , : ]
    print("\nSelect multiple Rows" , rowData , sep='\n')
    '''
    Select both Rows & Columns by Index labels
    '''
    subset = dfObj.loc[ ['c' , 'b'] ,['Age', 'Name'] ]
    print("\nSelect both columns & Rows" , subset , sep='\n')
    subset = dfObj.loc[ 'a' : 'c' ,'Age' : 'City' ]
    print("Select both columns & Rows with selection range " , subset , sep='\n')
    print("\n**** Selecting by Column Indexes & Rows Index Positions Using df.iloc ******\n")
    '''
    Select a single column by Index Position
    '''
    print("\nSelect column at index 2 ")
    print( dfObj.iloc[ : , 2 ] )
    '''
    Select multiple columns by Index range 
    '''
    print("\nSelect columns in column index range 0 to 2")
    print(dfObj.iloc[:, 0:2])
    '''
    Select multiple columns by Indexes in a list 
    '''
    print("\nSelect columns at column index  0 and 2")
    print(dfObj.iloc[: , [0, 2]])
    '''
    Select single row by Index Position
    '''
    print("\nSelect row at index 2 ")
    print( dfObj.iloc[ 1 , :  ] )
    '''
    Select multiple rows by Index range 
    '''
    print("\nSelect rows in row index range 0 to 2")
    print(dfObj.iloc[0:2 , : ])
    '''
    Select multiple rows by Index positions in a list 
    '''
    print("\nSelect rows at row index  0 and 2")
    print(dfObj.iloc[[2 ,0 ] , : ])
    '''
    Select multiple rows & columns by  Index positions
    '''
    print("\nSelect rows at index 0 & 2 . Also columns at row  1 and 2")
    print(dfObj.iloc[[0 , 2] , [1 , 2] ])
    '''
    Select multiple rows & columns by  Indexes in a range
    '''
    print("\nSelect rows at index 0 to 2 (2nd index not included) . Also columns at row  0 to 2 (2nd index not included)")
    print(dfObj.iloc[ 0 : 2 ,  1 : 2 ])
  
if __name__ == '__main__':
    main()

Original DataFrame :
   Name  Age      City
a  jack   34    Sydeny
b  Riti   30     Delhi
c  Aadi   16  New York

***** Select Columns in DataFrame by [] *********


Select column By Name using []
a    34
b    30
c    16
Name: Age, dtype: int64
Type :  <class 'pandas.core.series.Series'>

Select multiple columns By Name using []
   Age  Name
a   34  jack
b   30  Riti
c   16  Aadi
Type :  <class 'pandas.core.frame.DataFrame'>

**** Selecting by Column Names & Rows Index Labels Using df.loc ******


Select a column By Name using loc
a    34
b    30
c    16
Name: Age, dtype: int64
Type :  <class 'pandas.core.series.Series'>

Select multiple columns By Name using loc
   Age  Name
a   34  jack
b   30  Riti
c   16  Aadi
Type :  <class 'pandas.core.frame.DataFrame'>

Select a Single Row
Name     Riti
Age        30
City    Delhi
Name: b, dtype: object
Type :  <class 'pandas.core.series.Series'>

Select multiple Rows
   Name  Age      City
c  Aadi   16  New York
b  Riti   30     Delhi

Select both columns & Rows
   Age  Name
c   16  Aadi
b   30  Riti
Select both columns & Rows with selection range
   Age      City
a   34    Sydeny
b   30     Delhi
c   16  New York

**** Selecting by Column Indexes & Rows Index Positions Using df.iloc ******


Select column at index 2
a      Sydeny
b       Delhi
c    New York
Name: City, dtype: object

Select columns in column index range 0 to 2
   Name  Age
a  jack   34
b  Riti   30
c  Aadi   16

Select columns at column index  0 and 2
   Name      City
a  jack    Sydeny
b  Riti     Delhi
c  Aadi  New York

Select row at index 2
Name     Riti
Age        30
City    Delhi
Name: b, dtype: object

Select rows in row index range 0 to 2
   Name  Age    City
a  jack   34  Sydeny
b  Riti   30   Delhi

Select rows at row index  0 and 2
   Name  Age      City
c  Aadi   16  New York
a  jack   34    Sydeny

Select rows at index 0 & 2 . Also columns at row  1 and 2
   Age      City
a   34    Sydeny
c   16  New York

Select rows at index 0 to 2 (2nd index not included) . Also columns at row  0 to 2 (2nd index not included)
   Age
a   34
b   30

### **5. Select Rows in DataFrame by conditions on multiple columns**

In [1]:
import pandas as pd
 
def main():
    
    # List of Tuples
    students = [ ('jack', 'Apples' , 34) ,
                 ('Riti', 'Mangos'  , 31) ,
                 ('Aadi', 'Grapes' , 30) ,
                 ('Sonia', 'Apples', 32) ,
                 ('Lucy', 'Mangos'  , 33) ,
                 ('Mike', 'Apples' , 35)
                  ]
    
    #Create a DataFrame object
    dfObj = pd.DataFrame(students, columns = ['Name' , 'Product', 'Sale'])   
    print("Original Dataframe" , dfObj, sep='\n')
    '''
    Select Rows based on value in a column
    '''
    subsetDataFrame = dfObj[dfObj['Product'] == 'Apples']
    print("DataFrame with Product : Apples" , subsetDataFrame, sep='\n')
    filteringSeries = dfObj['Product'] == 'Apples'
    print("Filtering Series" , filteringSeries, sep='\n')
    subsetDataFrame = dfObj[filteringSeries]
    print("DataFrame with Product : Apples" , subsetDataFrame, sep='\n')
    '''
    Select Rows based on any of the multiple values in a column
    '''
    subsetDataFrame = dfObj[dfObj['Product'].isin(['Mangos', 'Grapes']) ]
    print("DataFrame with Product : Mangos or Grapes" , subsetDataFrame, sep='\n')
    '''
    Select DataFrame Rows Based on multiple conditions on columns
    '''
    filterinfDataframe = dfObj[(dfObj['Sale'] > 30) & (dfObj['Sale'] < 33) ]
    print("DataFrame with Sales between 31 to 32" , filterinfDataframe, sep='\n')

if __name__ == '__main__':
    main()

Original Dataframe
    Name Product  Sale
0   jack  Apples    34
1   Riti  Mangos    31
2   Aadi  Grapes    30
3  Sonia  Apples    32
4   Lucy  Mangos    33
5   Mike  Apples    35
DataFrame with Product : Apples
    Name Product  Sale
0   jack  Apples    34
3  Sonia  Apples    32
5   Mike  Apples    35
Filtering Series
0     True
1    False
2    False
3     True
4    False
5     True
Name: Product, dtype: bool
DataFrame with Product : Apples
    Name Product  Sale
0   jack  Apples    34
3  Sonia  Apples    32
5   Mike  Apples    35
DataFrame with Product : Mangos or Grapes
   Name Product  Sale
1  Riti  Mangos    31
2  Aadi  Grapes    30
4  Lucy  Mangos    33
DataFrame with Sales between 31 to 32
    Name Product  Sale
1   Riti  Mangos    31
3  Sonia  Apples    32

### **6. How to drop rows in DataFrame by index labels**

In [2]:
import pandas as pd
 
def main():
    
    # List of Tuples
    students = [ ('jack', 34, 'Sydeny' , 'Australia') ,
                 ('Riti', 30, 'Delhi' , 'India' ) ,
                 ('Vikas', 31, 'Mumbai' , 'India' ) ,
                 ('Neelu', 32, 'Bangalore' , 'India' ) ,
                 ('John', 16, 'New York' , 'US') ,
                 ('Mike', 17, 'las vegas' , 'US')  ]
    
    
    #Create a DataFrame object
    dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City' , 'Country'], index=['a', 'b', 'c' , 'd' , 'e' , 'f']) 
    print("Original Dataframe" , dfObj, sep='\n')
    print("**** Delete a single row by index label ****")
    # Delete row with index label 'b' 
    modDfObj = dfObj.drop('b')
    print("New Dataframe" , modDfObj, sep='\n')
    print("**** Delete multiple rows by label names ****")
    # Delete rows with index label a & b    
    modDfObj = dfObj.drop(['a' , 'b'])
    print("**** Delete multiple rows by Index Position ****")
    # Delete row at index position 0 & 1
    modDfObj = dfObj.drop([dfObj.index[0] , dfObj.index[1]])
    print("New Dataframe with Deleted Rows at Index position 0 and 1" , modDfObj, sep='\n')
    print("**** Delete multiple rows from dataFrame in Place")
    print("Original Dataframe" , dfObj, sep='\n')
    # Drop Colums a & b from dfObj in place
    dfObj.drop(['a' , 'b'], inplace=True)
    print("Updated  Dataframe dfObj" , dfObj, sep='\n')
    
if __name__ == '__main__':
    main()

Original Dataframe
    Name  Age       City    Country
a   jack   34     Sydeny  Australia
b   Riti   30      Delhi      India
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US
f   Mike   17  las vegas         US
**** Delete a single row by index label ****
New Dataframe
    Name  Age       City    Country
a   jack   34     Sydeny  Australia
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US
f   Mike   17  las vegas         US
**** Delete multiple rows by label names ****
**** Delete multiple rows by Index Position ****
New Dataframe with Deleted Rows at Index position 0 and 1
    Name  Age       City Country
c  Vikas   31     Mumbai   India
d  Neelu   32  Bangalore   India
e   John   16   New York      US
f   Mike   17  las vegas      US
**** Delete multiple rows from dataFrame in Place
Original Dataframe
    Name  Age       City    Country
a   jack   34     Sydeny  Australia
b   Riti   30      Delhi      India
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US
f   Mike   17  las vegas         US
Updated  Dataframe dfObj
    Name  Age       City Country
c  Vikas   31     Mumbai   India
d  Neelu   32  Bangalore   India
e   John   16   New York      US
f   Mike   17  las vegas      US

### **7. How to Drop rows in DataFrame by conditions on column values**

In [3]:
import pandas as pd
 
def main():
    
    # List of Tuples
    students = [ ('jack', 34, 'Sydeny' , 'Australia') ,
                 ('Riti', 30, 'Delhi' , 'India' ) ,
                 ('Vikas', 31, 'Mumbai' , 'India' ) ,
                 ('Neelu', 32, 'Bangalore' , 'India' ) ,
                 ('John', 16, 'New York' , 'US') ,
                 ('Mike', 17, 'las vegas' , 'US')  ]
    
    
    
    
    #Create a DataFrame object
    dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City' , 'Country'], index=['a', 'b', 'c' , 'd' , 'e' , 'f']) 
    print("Original Dataframe" , dfObj, sep='\n')
    '''
       Delete rows by Column value
    '''
    print("Delete all rows for which column 'Age' has value 30")
    # Get names of indexes for which column Age has value 30
    indexNames = dfObj[ dfObj['Age'] == 30 ].index
    # Delete these row indexes from dataFrame
    dfObj.drop(indexNames , inplace=True)
    print("Modified  Dataframe" , dfObj, sep='\n')
    '''
        Delete rows based on multiple conditions on a column 
    '''
    print("Delete all rows for which column 'Age' has value between 30 to 40")
    #Create a DataFrame object
    dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City' , 'Country'], index=['a', 'b', 'c' , 'd' , 'e' , 'f']) 
    print("Original Dataframe" , dfObj, sep='\n')
    # delete all rows for which column 'Age' has value between 30 to 40 
    indexNames = dfObj[ (dfObj['Age'] >= 30) & (dfObj['Age'] <= 40) ].index
    dfObj.drop(indexNames , inplace=True)
    print("Modified  Dataframe" , dfObj, sep='\n')
    '''
        Delete rows based on multiple conditions on different columns
    '''
    print("Delete all rows for which column 'Age' has value greater than 30  and country is 'India' ")
    #Create a DataFrame object
    dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City' , 'Country'], index=['a', 'b', 'c' , 'd' , 'e' , 'f']) 
    print("Original Dataframe" , dfObj, sep='\n')
    # delete all rows for which column 'Age' has value greater than 30 and Country is India 
    indexNames = dfObj[ (dfObj['Age'] >= 30) & (dfObj['Country'] == 'India') ].index
    dfObj.drop(indexNames , inplace=True)
    print("Modified  Dataframe" , dfObj, sep='\n')
    
if __name__ == '__main__':
    main()

Original Dataframe
    Name  Age       City    Country
a   jack   34     Sydeny  Australia
b   Riti   30      Delhi      India
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US
f   Mike   17  las vegas         US
Delete all rows for which column 'Age' has value 30
Modified  Dataframe
    Name  Age       City    Country
a   jack   34     Sydeny  Australia
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US
f   Mike   17  las vegas         US
Delete all rows for which column 'Age' has value between 30 to 40
Original Dataframe
    Name  Age       City    Country
a   jack   34     Sydeny  Australia
b   Riti   30      Delhi      India
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US
f   Mike   17  las vegas         US
Modified  Dataframe
   Name  Age       City Country
e  John   16   New York      US
f  Mike   17  las vegas      US
Delete all rows for which column 'Age' has value greater than 30  and country is 'India'
Original Dataframe
    Name  Age       City    Country
a   jack   34     Sydeny  Australia
b   Riti   30      Delhi      India
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US
f   Mike   17  las vegas         US
Modified  Dataframe
   Name  Age       City    Country
a  jack   34     Sydeny  Australia
e  John   16   New York         US
f  Mike   17  las vegas         US

### **8. Drop columns in DataFrame by label Names or by Index Positions**

In [4]:
import pandas as pd
 
def main():
    
    # List of Tuples
    students = [ ('jack', 34, 'Sydeny' , 'Australia') ,
                 ('Riti', 30, 'Delhi' , 'India' ) ,
                 ('Vikas', 31, 'Mumbai' , 'India' ) ,
                 ('Neelu', 32, 'Bangalore' , 'India' ) ,
                 ('John', 16, 'New York' , 'US') ,
                 ('Mike', 17, 'las vegas' , 'US')  ]
    
    
    #Create a DataFrame object
    dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City' , 'Country'], index=['a', 'b', 'c' , 'd' , 'e' , 'f']) 
    print("Original DataFrame" , dfObj, sep='\n')
    '''
    Delete a Single column in dataFrame by Column Name
    '''
    print("**** Delete column 'Age' in DataFrame object ****")
    modDfObj = dfObj.drop('Age' , axis='columns')
    print("New DataFrame" , modDfObj, sep='\n')
    '''
    Delete multiple columns in dataFrame by Column Names
    '''
    print("**** Delete columns 'Age' & 'Name' from DataFrame")
    modDfObj = dfObj.drop(['Age' , 'Name'] , axis='columns')
    print("New Dataframe" , modDfObj, sep='\n')
    '''
    Delete multiple columns in dataFrame by Column Names
    '''
    print("**** Delete columns at Index Position 1 & 2 in DataFrame")
    # Delete columns at index 1 & 2
    modDfObj = dfObj.drop([dfObj.columns[1] , dfObj.columns[2]] ,  axis='columns')
    print("New DataFrame with Deleted columns at Index position 1 and 2" , modDfObj, sep='\n')
    '''
    Delete multiple columns from dataFrame in Place
    '''
    print("Original Dataframe" , dfObj, sep='\n')
    print("**** Delete columns 'Age' & 'Name' from dataFrame in Place")
    dfObj.drop(['Age' , 'Name'] , axis='columns', inplace=True)
    print("Modified DataFrame in place" , dfObj, sep='\n')
    '''
    Delete column if exist
    '''
    #Create a DataFrame object
    dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City' , 'Country'], index=['a', 'b', 'c' , 'd' , 'e' , 'f'])  
    print("Original DataFrame" , dfObj, sep='\n')
    print(dfObj.columns)
    # Check if Dataframe has a column with Label name 'City'
    if 'City' in dfObj.columns :
        dfObj.drop(['City'] , axis='columns', inplace=True)
    else :
        print('Column Name not found')    
    print("Modified DataFrame" , dfObj, sep='\n')
    
if __name__ == '__main__':
    main()

Original DataFrame
    Name  Age       City    Country
a   jack   34     Sydeny  Australia
b   Riti   30      Delhi      India
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US
f   Mike   17  las vegas         US
**** Delete column 'Age' in DataFrame object ****
New DataFrame
    Name       City    Country
a   jack     Sydeny  Australia
b   Riti      Delhi      India
c  Vikas     Mumbai      India
d  Neelu  Bangalore      India
e   John   New York         US
f   Mike  las vegas         US
**** Delete columns 'Age' & 'Name' from DataFrame
New Dataframe
        City    Country
a     Sydeny  Australia
b      Delhi      India
c     Mumbai      India
d  Bangalore      India
e   New York         US
f  las vegas         US
**** Delete columns at Index Position 1 & 2 in DataFrame
New DataFrame with Deleted columns at Index position 1 and 2
    Name    Country
a   jack  Australia
b   Riti      India
c  Vikas      India
d  Neelu      India
e   John         US
f   Mike         US
Original Dataframe
    Name  Age       City    Country
a   jack   34     Sydeny  Australia
b   Riti   30      Delhi      India
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US
f   Mike   17  las vegas         US
**** Delete columns 'Age' & 'Name' from dataFrame in Place
Modified DataFrame in place
        City    Country
a     Sydeny  Australia
b      Delhi      India
c     Mumbai      India
d  Bangalore      India
e   New York         US
f  las vegas         US
Original DataFrame
    Name  Age       City    Country
a   jack   34     Sydeny  Australia
b   Riti   30      Delhi      India
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US
f   Mike   17  las vegas         US
Index(['Name', 'Age', 'City', 'Country'], dtype='object')
Modified DataFrame
    Name  Age    Country
a   jack   34  Australia
b   Riti   30      India
c  Vikas   31      India
d  Neelu   32      India
e   John   16         US
f   Mike   17         US

### **9. How to add new columns in a dataFrame using [] or dataframe.assign()**

In [5]:
import pandas as pd
 
def main():
    # List of Tuples
    students = [ ('jack', 34, 'Sydeny' , 'Australia') ,
                 ('Riti', 30, 'Delhi' , 'India' ) ,
                 ('Vikas', 31, 'Mumbai' , 'India' ) ,
                 ('Neelu', 32, 'Bangalore' , 'India' ) ,
                 ('John', 16, 'New York' , 'US') ,
                 ('Mike', 17, 'las vegas' , 'US')  ]
    
    #Create a DataFrame object
    dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City' , 'Country'], index=['a', 'b', 'c' , 'd' , 'e' , 'f']) 
    print("Original DataFrame" , dfObj, sep='\n')
    print("*** Add columns in dataframe using operator [] ****")
    print("****Add a new column in DataFrame with values in a list *****")
    # Add column with Name Marks
    dfObj['Marks'] = [10,20, 45, 33, 22, 11]
    print("Modified DataFrame" , dfObj, sep='\n')
    print("****Add a new column in DataFrame with same default value *****")
    dfObj['Total'] = 50
    print("Modified DataFrame" , dfObj, sep='\n')
    print("****Add a new column in DataFrame with values based on other columns *****")
    dfObj['Percentage'] =  (dfObj['Marks'] / dfObj['Total'] ) * 100
    print("Modified DataFrame" , dfObj, sep='\n')
    #Create a DataFrame object
    dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City' , 'Country'], index=['a', 'b', 'c' , 'd' , 'e' , 'f']) 
    print("Original DataFrame" , dfObj, sep='\n')
    print("****Add a new column in DataFrame using assign *****")
    modDf = dfObj.assign(Marks = [10,20, 45, 33, 22, 11])
    print("Modified DataFrame" , modDf, sep='\n')
    dfObj = dfObj.assign(Marks = [10,20, 45, 33, 22, 11],  Total = [50]*6  )
    print("Modified DataFrame" , dfObj, sep='\n')
    dfObj = dfObj.assign(Percentage =lambda x: (x['Marks'] / x['Total'] ) * 100)
    print("Modified DataFrame" , dfObj, sep='\n')
    
if __name__ == '__main__':
    main()

Original DataFrame
    Name  Age       City    Country
a   jack   34     Sydeny  Australia
b   Riti   30      Delhi      India
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US
f   Mike   17  las vegas         US
*** Add columns in dataframe using operator [] ****
****Add a new column in DataFrame with values in a list *****
Modified DataFrame
    Name  Age       City    Country  Marks
a   jack   34     Sydeny  Australia     10
b   Riti   30      Delhi      India     20
c  Vikas   31     Mumbai      India     45
d  Neelu   32  Bangalore      India     33
e   John   16   New York         US     22
f   Mike   17  las vegas         US     11
****Add a new column in DataFrame with same default value *****
Modified DataFrame
    Name  Age       City    Country  Marks  Total
a   jack   34     Sydeny  Australia     10     50
b   Riti   30      Delhi      India     20     50
c  Vikas   31     Mumbai      India     45     50
d  Neelu   32  Bangalore      India     33     50
e   John   16   New York         US     22     50
f   Mike   17  las vegas         US     11     50
****Add a new column in DataFrame with values based on other columns *****
Modified DataFrame
    Name  Age       City    Country  Marks  Total  Percentage
a   jack   34     Sydeny  Australia     10     50        20.0
b   Riti   30      Delhi      India     20     50        40.0
c  Vikas   31     Mumbai      India     45     50        90.0
d  Neelu   32  Bangalore      India     33     50        66.0
e   John   16   New York         US     22     50        44.0
f   Mike   17  las vegas         US     11     50        22.0
Original DataFrame
    Name  Age       City    Country
a   jack   34     Sydeny  Australia
b   Riti   30      Delhi      India
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US
f   Mike   17  las vegas         US
****Add a new column in DataFrame using assign *****
Modified DataFrame
    Name  Age       City    Country  Marks
a   jack   34     Sydeny  Australia     10
b   Riti   30      Delhi      India     20
c  Vikas   31     Mumbai      India     45
d  Neelu   32  Bangalore      India     33
e   John   16   New York         US     22
f   Mike   17  las vegas         US     11
Modified DataFrame
    Name  Age       City    Country  Marks  Total
a   jack   34     Sydeny  Australia     10     50
b   Riti   30      Delhi      India     20     50
c  Vikas   31     Mumbai      India     45     50
d  Neelu   32  Bangalore      India     33     50
e   John   16   New York         US     22     50
f   Mike   17  las vegas         US     11     50
Modified DataFrame
    Name  Age       City    Country  Marks  Total  Percentage
a   jack   34     Sydeny  Australia     10     50        20.0
b   Riti   30      Delhi      India     20     50        40.0
c  Vikas   31     Mumbai      India     45     50        90.0
d  Neelu   32  Bangalore      India     33     50        66.0
e   John   16   New York         US     22     50        44.0
f   Mike   17  las vegas         US     11     50        22.0

### **10. How to add rows in a DataFrame using dataframe.append() & loc[] , iloc[]**

In [6]:
import pandas as pd
 
def main():
    
    # List of Tuples
    students = [ ('jack', 34, 'Sydeny' , 'Australia') ,
                 ('Riti', 30, 'Delhi' , 'India' ) ,
                 ('Vikas', 31, 'Mumbai' , 'India' ) ,
                 ('Neelu', 32, 'Bangalore' , 'India' ) ,
                 ('John', 16, 'New York' , 'US') ,
                 ('Mike', 17, 'las vegas' , 'US')  ]
    
    #Create a DataFrame object
    dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City' , 'Country'], index=['a', 'b', 'c' , 'd' , 'e' , 'f']) 
    print("Original Dataframe" , dfObj, sep='\n')
    print("*****Add row in the dataframe using dataframe.append() ****")   
    # Pass the row elements as key value pairs to append() function 
    modDfObj = dfObj.append({'Name' : 'Sahil' , 'Age' : 22} , ignore_index=True)
    print("Updated Dataframe" , modDfObj, sep='\n')
    # Pass a series in append() to append a row in dataframe  
    modDfObj = dfObj.append(pd.Series(['Raju', 21, 'Bangalore', 'India'], index=dfObj.columns ), ignore_index=True)
    print("Updated Dataframe" , modDfObj, sep='\n')    
    print("**** Add multiple rows in the dataframe using dataframe.append() and Series ****")
    # List of series  
    listOfSeries = [pd.Series(['Raju', 21, 'Bangalore', 'India'], index=dfObj.columns ) ,
                    pd.Series(['Sam', 22, 'Tokyo', 'Japan'], index=dfObj.columns ) ,
                    pd.Series(['Rocky', 23, 'Las Vegas', 'US'], index=dfObj.columns ) ]
    # Pass a list of series to the append() to add multiple rows
    modDfObj = dfObj.append(listOfSeries , ignore_index=True)
    print("Updated Dataframe" , modDfObj, sep='\n')    
    print("*****Add a row from one dataframe to other dataframe ****") 
    # Create an another dataframe 
    # List of Tuples
    students = [ ('Rahul', 22, 'Sydeny' , 'Australia') ,
                 ('Parul', 23, 'Pune' , 'India')  ]
    #Create a DataFrame object
    dfObj2 = pd.DataFrame(students, columns = ['Name' , 'Age', 'City' , 'Country'], index=['a', 'b']) 
    print("Another Dataframe" , dfObj2, sep='\n')
    # add row at index b from dataframe dfObj2 to dataframe dfObj
    modDfObj = dfObj.append(dfObj2.loc['b'], ignore_index=True)
    print("Updated Dataframe" , modDfObj, sep='\n')
    print("*****Add a row in the dataframe using loc[] ****")   
    # Add a new row at index k with values provided in list
    dfObj.loc['k'] = ['Smriti', 26, 'Bangalore', 'India']
    print("Updated Dataframe" , dfObj, sep='\n')
    print("*****Add a row in the dataframe at index position using iloc[] ****")
    # Add a new row at index position 2 with values provided in list
    dfObj.iloc[2] = ['Smriti', 26, 'Bangalore', 'India']
    print("Updated Dataframe" , dfObj, sep='\n')
    
if __name__ == '__main__':
    main()

Original Dataframe
    Name  Age       City    Country
a   jack   34     Sydeny  Australia
b   Riti   30      Delhi      India
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US
f   Mike   17  las vegas         US
*****Add row in the dataframe using dataframe.append() ****
Updated Dataframe
    Name  Age       City    Country
0   jack   34     Sydeny  Australia
1   Riti   30      Delhi      India
2  Vikas   31     Mumbai      India
3  Neelu   32  Bangalore      India
4   John   16   New York         US
5   Mike   17  las vegas         US
6  Sahil   22        NaN        NaN
Updated Dataframe
    Name  Age       City    Country
0   jack   34     Sydeny  Australia
1   Riti   30      Delhi      India
2  Vikas   31     Mumbai      India
3  Neelu   32  Bangalore      India
4   John   16   New York         US
5   Mike   17  las vegas         US
6   Raju   21  Bangalore      India
**** Add multiple rows in the dataframe using dataframe.append() and Series ****
Updated Dataframe
    Name  Age       City    Country
0   jack   34     Sydeny  Australia
1   Riti   30      Delhi      India
2  Vikas   31     Mumbai      India
3  Neelu   32  Bangalore      India
4   John   16   New York         US
5   Mike   17  las vegas         US
6   Raju   21  Bangalore      India
7    Sam   22      Tokyo      Japan
8  Rocky   23  Las Vegas         US
*****Add a row from one dataframe to other dataframe ****
Another Dataframe
    Name  Age    City    Country
a  Rahul   22  Sydeny  Australia
b  Parul   23    Pune      India
Updated Dataframe
    Name  Age       City    Country
0   jack   34     Sydeny  Australia
1   Riti   30      Delhi      India
2  Vikas   31     Mumbai      India
3  Neelu   32  Bangalore      India
4   John   16   New York         US
5   Mike   17  las vegas         US
6  Parul   23       Pune      India
*****Add a row in the dataframe using loc[] ****
Updated Dataframe
     Name  Age       City    Country
a    jack   34     Sydeny  Australia
b    Riti   30      Delhi      India
c   Vikas   31     Mumbai      India
d   Neelu   32  Bangalore      India
e    John   16   New York         US
f    Mike   17  las vegas         US
k  Smriti   26  Bangalore      India
*****Add a row in the dataframe at index position using iloc[] ****
Updated Dataframe
     Name  Age       City    Country
a    jack   34     Sydeny  Australia
b    Riti   30      Delhi      India
c  Smriti   26  Bangalore      India
d   Neelu   32  Bangalore      India
e    John   16   New York         US
f    Mike   17  las vegas         US
k  Smriti   26  Bangalore      India