<a href="https://colab.research.google.com/github/abdoulahat/Learn_Python/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ce document est en cours. Je vais donner les détails de chacun des points. Merci de votre compréhension.

##**Pandas Dataframes**

###### **Script pour concacténer plusieurs dataframe**

In [0]:
import os
import pandas as pd
os.chdir(path)

dfs = [pd.read_csv(f, sep=',') for f in os.listdir(os.getcwd())]

finaldf = pd.concat(dfs, axis=0, join='inner').sort_index()

### **1. Create DataFrame from Dictionary using default Constructor**

In [1]:
import pandas as pd
 
def main():
    
    # Dictionary with list object in values
    studentData = {
        'name' : ['jack', 'Riti', 'Aadi'],
        'age' : [34, 30, 16],
        'city' : ['Sydney', 'Delhi', 'New york']
    }
    
    print('Creating Dataframe from Dictionary\n')
    ''' 
    Pass dictionary in Dataframe constructor to create a new object
    keys will be the column names and lists in values will be column data
    '''
    dfObj = pd.DataFrame(studentData) 
    print(dfObj)
    
    print('\nCreating Dataframe from Dictionary and Custom Indexes\n')
    # Pass custom names of index as list during initialization
    dfObj = pd.DataFrame(studentData, index=['a', 'b', 'c'])
    print(dfObj)
    
    print('\nCreating Dataframe from non compatible Dictionary\n')
    studentAgeData = {
        'Jack' : 12,
        'Roma' : 13,
        'Ritika' : 10,
        'Aadi' : 11
    }
    
    '''
    Creating dataframe by converting dict to list of items
    '''
    dfObj = pd.DataFrame(list(studentAgeData.items()), index=['a', 'b', 'c', 'd'])
    print(dfObj)
    
    print('\nCreating Dataframe from Dictionary by Skipping data\n')
    studentData = {
        'name' : ['jack', 'Riti', 'Aadi'],
        'age' : [34, 30, 16],
        'city' : ['Sydney', 'Delhi', 'New york']
    }
    
    # Creating Dataframe from Dictionary by Skipping 2nd Item from dict
    dfObj = pd.DataFrame(studentData, columns=['name', 'city']) 
    print(dfObj)
    
    print('\nCreating Dataframe from Dictionary With different orientation\n')
    # Create dataframe from dic and make keys, index in dataframe
    dfObj = pd.DataFrame.from_dict(studentData, orient='index')
    print(dfObj)
    
    print('\nCreating Dataframe from nested Dictionary\n')
    # Nested Dictionary
    studentData = { 
    0 : {
        'name' : 'Aadi',
        'age' : 16,
        'city' : 'New york'
        },
    1 : {
        'name' : 'Jack',
        'age' : 34,
        'city' : 'Sydney'
        },
    2 : {
        'name' : 'Riti',
        'age' : 30,
        'city' : 'Delhi'
        }
    }
 
    '''
    Create dataframe from nested dictionary 
    '''
    dfObj = pd.DataFrame(studentData) 
    print(dfObj)
    print("\nTranspose the dictionary\n")
    # Transpose dataframe object
    dfObj = dfObj.transpose()
    print(dfObj)
 
if __name__ == '__main__':
    main()

Creating Dataframe from Dictionary

   name  age      city
0  jack   34    Sydney
1  Riti   30     Delhi
2  Aadi   16  New york

Creating Dataframe from Dictionary and Custom Indexes

   name  age      city
a  jack   34    Sydney
b  Riti   30     Delhi
c  Aadi   16  New york

Creating Dataframe from non compatible Dictionary

        0   1
a    Jack  12
b    Roma  13
c  Ritika  10
d    Aadi  11

Creating Dataframe from Dictionary by Skipping data

   name      city
0  jack    Sydney
1  Riti     Delhi
2  Aadi  New york

Creating Dataframe from Dictionary With different orientation

           0      1         2
name    jack   Riti      Aadi
age       34     30        16
city  Sydney  Delhi  New york

Creating Dataframe from nested Dictionary

             0       1      2
name      Aadi    Jack   Riti
age         16      34     30
city  New york  Sydney  Delhi

Transpose the dictionary

   name age      city
0  Aadi  16  New york
1  Jack  34    Sydney
2  Riti  30     Delhi