<a href="https://colab.research.google.com/github/abdoulahat/Learn_Python/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ce document est en cours. Je vais donner les détails de chacun des points. Merci de votre compréhension.

##**Pandas Dataframes**

###### **Script pour concacténer plusieurs dataframe**

In [0]:
import os
import pandas as pd
os.chdir(path)

dfs = [pd.read_csv(f, sep=',') for f in os.listdir(os.getcwd())]

finaldf = pd.concat(dfs, axis=0, join='inner').sort_index()

### **1. Create DataFrame from Dictionary using default Constructor**

In [1]:
import pandas as pd
 
def main():
    
    # Dictionary with list object in values
    studentData = {
        'name' : ['jack', 'Riti', 'Aadi'],
        'age' : [34, 30, 16],
        'city' : ['Sydney', 'Delhi', 'New york']
    }
    
    print('Creating Dataframe from Dictionary\n')
    ''' 
    Pass dictionary in Dataframe constructor to create a new object
    keys will be the column names and lists in values will be column data
    '''
    dfObj = pd.DataFrame(studentData) 
    print(dfObj)
    
    print('\nCreating Dataframe from Dictionary and Custom Indexes\n')
    # Pass custom names of index as list during initialization
    dfObj = pd.DataFrame(studentData, index=['a', 'b', 'c'])
    print(dfObj)
    
    print('\nCreating Dataframe from non compatible Dictionary\n')
    studentAgeData = {
        'Jack' : 12,
        'Roma' : 13,
        'Ritika' : 10,
        'Aadi' : 11
    }
    
    '''
    Creating dataframe by converting dict to list of items
    '''
    dfObj = pd.DataFrame(list(studentAgeData.items()), index=['a', 'b', 'c', 'd'])
    print(dfObj)
    
    print('\nCreating Dataframe from Dictionary by Skipping data\n')
    studentData = {
        'name' : ['jack', 'Riti', 'Aadi'],
        'age' : [34, 30, 16],
        'city' : ['Sydney', 'Delhi', 'New york']
    }
    
    # Creating Dataframe from Dictionary by Skipping 2nd Item from dict
    dfObj = pd.DataFrame(studentData, columns=['name', 'city']) 
    print(dfObj)
    
    print('\nCreating Dataframe from Dictionary With different orientation\n')
    # Create dataframe from dic and make keys, index in dataframe
    dfObj = pd.DataFrame.from_dict(studentData, orient='index')
    print(dfObj)
    
    print('\nCreating Dataframe from nested Dictionary\n')
    # Nested Dictionary
    studentData = { 
    0 : {
        'name' : 'Aadi',
        'age' : 16,
        'city' : 'New york'
        },
    1 : {
        'name' : 'Jack',
        'age' : 34,
        'city' : 'Sydney'
        },
    2 : {
        'name' : 'Riti',
        'age' : 30,
        'city' : 'Delhi'
        }
    }
 
    '''
    Create dataframe from nested dictionary 
    '''
    dfObj = pd.DataFrame(studentData) 
    print(dfObj)
    print("\nTranspose the dictionary\n")
    # Transpose dataframe object
    dfObj = dfObj.transpose()
    print(dfObj)
 
if __name__ == '__main__':
    main()

Creating Dataframe from Dictionary

   name  age      city
0  jack   34    Sydney
1  Riti   30     Delhi
2  Aadi   16  New york

Creating Dataframe from Dictionary and Custom Indexes

   name  age      city
a  jack   34    Sydney
b  Riti   30     Delhi
c  Aadi   16  New york

Creating Dataframe from non compatible Dictionary

        0   1
a    Jack  12
b    Roma  13
c  Ritika  10
d    Aadi  11

Creating Dataframe from Dictionary by Skipping data

   name      city
0  jack    Sydney
1  Riti     Delhi
2  Aadi  New york

Creating Dataframe from Dictionary With different orientation

           0      1         2
name    jack   Riti      Aadi
age       34     30        16
city  Sydney  Delhi  New york

Creating Dataframe from nested Dictionary

             0       1      2
name      Aadi    Jack   Riti
age         16      34     30
city  New york  Sydney  Delhi

Transpose the dictionary

   name age      city
0  Aadi  16  New york
1  Jack  34    Sydney
2  Riti  30     Delhi

### **2. How to get column and row names in DataFrame**

In [4]:
def main():
    
    # List of Tuples
    students = [ ('jack', 34, 'Sydeny' , 'Australia') ,
             ('Riti', 30, 'Delhi' , 'India' ) ,
             ('Vikas', 31, 'Mumbai' , 'India' ) ,
             ('Neelu', 32, 'Bangalore' , 'India' ) ,
             ('John', 16, 'New York' , 'US') ,
             ('Mike', 17, 'las vegas' , 'US')  ]
    
    # Create DataFrame object
    dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City' , 'Country'], index=['a', 'b', 'c' , 'd' , 'e' , 'f'])
    
    print("Original Dataframe" , dfObj, sep='\n')
    
    '''
    Get Column Names
    '''
    
    # Get ndArray of all column names 
    columnsNamesArr = dfObj.columns.values
 
    # convert ndarray to list
    listOfColumnNames = list(columnsNamesArr)
    
    print("\nList Of Column Names" , listOfColumnNames, sep='\n')
 
    print("\nColumn name at index 2" , dfObj.columns.values[2], sep='\n')
    
    '''
    Get Row Names
    '''
    # get a list of all the column names 
    indexNamesArr = dfObj.index.values
    
    # convert ndarray to list
    listOfRowIndexLabels = list(indexNamesArr)
    
    print("\nList Of Row Index Labels" , listOfRowIndexLabels, sep='\n')
    
    print("\nRow Index Label at index 2" , dfObj.index.values[2], sep='\n')
    
    
if __name__ == '__main__':
    main()

Original Dataframe
    Name  Age       City    Country
a   jack   34     Sydeny  Australia
b   Riti   30      Delhi      India
c  Vikas   31     Mumbai      India
d  Neelu   32  Bangalore      India
e   John   16   New York         US
f   Mike   17  las vegas         US

List Of Column Names
['Name', 'Age', 'City', 'Country']

Column name at index 2
City

List Of Row Index Labels
['a', 'b', 'c', 'd', 'e', 'f']

Row Index Label at index 2
c

### **3. Replace or change Column & Row index names in DataFrame**

In [6]:
import pandas as pd
 
def main():
    
    students = [ ('jack', 34, 'Sydeny') ,
                 ('Riti', 30, 'Delhi' ) ,
                 ('Aadi', 16, 'New York') ]
    
    # Create a DataFrame object
    dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City'], index=['a', 'b', 'c']) 
    
    print("Original DataFrame : " , dfObj, sep="\n");
 
    '''
    Get All Columns Names in DataFrame 
    '''
    columnsNamesArr = dfObj.columns.values
    print("\nColumn Names : " , columnsNamesArr)
 
    '''
    Get Columns Name by Index/position in DataFrame 
    '''
    print("\nColumn Names at index 2: " , dfObj.columns.values[2])
 
    '''
    Pandas : Modify Column Name in DataFrame 
    '''        
    columnsNamesArr[0] = 'Test'
    print("\nModified Column Names : " , columnsNamesArr)
    
    print("\nModified DataFrame : ")
    print(dfObj)
 
    '''
    Get Copy of all Columns Names in DataFrame 
    '''
    # get a copy list of all the column names 
    columnsNames = list(dfObj.columns.values) 
    print("\nColumn Names : " , columnsNames)
    
    # Modify Column Name
    columnsNames[0] = 'Test_Name'
    print("\nModified Column Names : " , columnsNames)
    
    print("\nDataFrame : ", dfObj)
 
    '''
    Get List of All Index Names in DataFrame
    '''
    
    # get a list of all the column names 
    indexNamesArr = dfObj.index.values
    
    print("\nAll Index Names : " , indexNamesArr)
 
    '''
    Get Row Index Names in DataFrame by Poisition
    '''
 
    print("\nRow Index Names at position 2: " , dfObj.index.values[2])
 
    '''
    Pandas : Modify Row Index Name in DataFrame 
    '''        
    # Modify a Row Index Name
    indexNamesArr[0] = 'P'
    
    print("\nModified Row Index Names : " , indexNamesArr)
    
    
    print("\nModified DataFrame : ", dfObj, sep='\n')
 
    '''
    Get Copy of all Row Index Names in DataFrame 
    '''
    # get a copy list of all the column names 
    indexNames = list(dfObj.index.values)
    
    print("\nAll Row Index Names : " , indexNames)
 
    
if __name__ == '__main__':
    main()

Original DataFrame :
   Name  Age      City
a  jack   34    Sydeny
b  Riti   30     Delhi
c  Aadi   16  New York

Column Names :  ['Name' 'Age' 'City']

Column Names at index 2:  City

Modified Column Names :  ['Test' 'Age' 'City']

Modified DataFrame :
   Test  Age      City
a  jack   34    Sydeny
b  Riti   30     Delhi
c  Aadi   16  New York

Column Names :  ['Test', 'Age', 'City']

Modified Column Names :  ['Test_Name', 'Age', 'City']

DataFrame :     Test  Age      City
a  jack   34    Sydeny
b  Riti   30     Delhi
c  Aadi   16  New York

All Index Names :  ['a' 'b' 'c']

Row Index Names at position 2:  c

Modified Row Index Names :  ['P' 'b' 'c']

Modified DataFrame :
   Test  Age      City
P  jack   34    Sydeny
b  Riti   30     Delhi
c  Aadi   16  New York

All Row Index Names :  ['P', 'b', 'c']

### **4. Select Rows & Columns by Name or Index in DataFrame using loc & iloc**

In [0]:
# dataFrame.loc[<ROWS RANGE> , <COLUMNS RANGE>]

In [0]:
# dataFrame.iloc[<ROWS INDEX RANGE> , <COLUMNS INDEX RANGE>]

In [10]:
import pandas as pd
 
def main():
    
    students = [ ('jack', 34, 'Sydeny') ,
                 ('Riti', 30, 'Delhi' ) ,
                 ('Aadi', 16, 'New York') ]
    
    # Create a DataFrame object
    dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City'], index=['a', 'b', 'c']) 
    print("Original DataFrame : ", dfObj, sep="\n")
    
    print("\n***** Select Columns in DataFrame by [] *********\n")
  
    '''
    Select a Column by Name using []
    '''
    column2 = dfObj['Age']
    
    print("\nSelect column By Name using [] " , column2 , sep='\n')
    print("Type : " , type(column2))
 
    '''
    Select  Multiple Column by Name using []
    '''
    column2 = dfObj[ ['Age', 'Name'] ]
    print("\nSelect multiple columns By Name using [] " , column2 , sep='\n')
    print("Type : " , type(column2))
       
    print("\n**** Selecting by Column Names & Rows Index Labels Using df.loc ******\n")
    
    '''
    Selecting a Single Column by Column Names
    '''
    columnsData = dfObj.loc[ : , 'Age' ]
    print("\nSelect a column By Name using loc " , columnsData , sep='\n')
    print("Type : " , type(columnsData))
    
    '''
    Selecting multiple Columns by Column Names
    '''
    
    # Select only 2 columns from dataFrame and create a new subset DataFrame
    columnsData = dfObj.loc[ : , ['Age', 'Name'] ]
    print("\nSelect multiple columns By Name using loc " , columnsData , sep='\n')
    print("Type : " , type(columnsData))
    
    '''
    Selecting a Single Row by Index label
    '''
    
    rowData = dfObj.loc[ 'b' , : ]
    
    print("\nSelect a Single Row " , rowData , sep='\n')
    print("Type : " , type(rowData))
    
    '''
    Selecting multiple Rows by Index labels
    '''
 
    rowData = dfObj.loc[ ['c' , 'b'] , : ]
    print("\nSelect multiple Rows" , rowData , sep='\n')
    
    '''
    Select both Rows & Columns by Index labels
    '''
    
    subset = dfObj.loc[ ['c' , 'b'] ,['Age', 'Name'] ]
    print("\nSelect both columns & Rows" , subset , sep='\n')
    
    subset = dfObj.loc[ 'a' : 'c' ,'Age' : 'City' ]
    
    print("Select both columns & Rows with selection range " , subset , sep='\n')
    
    
    print("\n**** Selecting by Column Indexes & Rows Index Positions Using df.iloc ******\n")
    
    '''
    Select a single column by Index Position
    '''
    print("\nSelect column at index 2 ")
    print( dfObj.iloc[ : , 2 ] )
    
    '''
    Select multiple columns by Index range 
    '''
    print("\nSelect columns in column index range 0 to 2")
    print(dfObj.iloc[:, 0:2])
    
    '''
    Select multiple columns by Indexes in a list 
    '''
    print("\nSelect columns at column index  0 and 2")
    print(dfObj.iloc[: , [0, 2]])
    
    
    '''
    Select single row by Index Position
    '''
    print("\nSelect row at index 2 ")
    print( dfObj.iloc[ 1 , :  ] )
    
    '''
    Select multiple rows by Index range 
    '''
    print("\nSelect rows in row index range 0 to 2")
    print(dfObj.iloc[ 0:2 , : ])
    
    '''
    Select multiple rows by Index positions in a list 
    '''
    print("\nSelect rows at row index  0 and 2")
    print(dfObj.iloc[[2 ,0 ] , : ])
    
    
    '''
    Select multiple rows & columns by  Index positions
    '''
    print("\nSelect rows at index 0 & 2 . Also columns at row  1 and 2")
    print(dfObj.iloc[[0 , 2] , [1 , 2] ])
 
    '''
    Select multiple rows & columns by  Indexes in a range
    '''
    print("\nSelect rows at index 0 to 2 (2nd index not included) . Also columns at row  0 to 2 (2nd index not included)")
    print(dfObj.iloc[ 0 : 2 ,  1 : 2 ])
 
       
if __name__ == '__main__':
    main()

Original DataFrame :
   Name  Age      City
a  jack   34    Sydeny
b  Riti   30     Delhi
c  Aadi   16  New York

***** Select Columns in DataFrame by [] *********


Select column By Name using []
a    34
b    30
c    16
Name: Age, dtype: int64
Type :  <class 'pandas.core.series.Series'>

Select multiple columns By Name using []
   Age  Name
a   34  jack
b   30  Riti
c   16  Aadi
Type :  <class 'pandas.core.frame.DataFrame'>

**** Selecting by Column Names & Rows Index Labels Using df.loc ******


Select a column By Name using loc
a    34
b    30
c    16
Name: Age, dtype: int64
Type :  <class 'pandas.core.series.Series'>

Select multiple columns By Name using loc
   Age  Name
a   34  jack
b   30  Riti
c   16  Aadi
Type :  <class 'pandas.core.frame.DataFrame'>

Select a Single Row
Name     Riti
Age        30
City    Delhi
Name: b, dtype: object
Type :  <class 'pandas.core.series.Series'>

Select multiple Rows
   Name  Age      City
c  Aadi   16  New York
b  Riti   30     Delhi

Select both columns & Rows
   Age  Name
c   16  Aadi
b   30  Riti
Select both columns & Rows with selection range
   Age      City
a   34    Sydeny
b   30     Delhi
c   16  New York

**** Selecting by Column Indexes & Rows Index Positions Using df.iloc ******


Select column at index 2
a      Sydeny
b       Delhi
c    New York
Name: City, dtype: object

Select columns in column index range 0 to 2
   Name  Age
a  jack   34
b  Riti   30
c  Aadi   16

Select columns at column index  0 and 2
   Name      City
a  jack    Sydeny
b  Riti     Delhi
c  Aadi  New York

Select row at index 2
Name     Riti
Age        30
City    Delhi
Name: b, dtype: object

Select rows in row index range 0 to 2
   Name  Age    City
a  jack   34  Sydeny
b  Riti   30   Delhi

Select rows at row index  0 and 2
   Name  Age      City
c  Aadi   16  New York
a  jack   34    Sydeny

Select rows at index 0 & 2 . Also columns at row  1 and 2
   Age      City
a   34    Sydeny
c   16  New York

Select rows at index 0 to 2 (2nd index not included) . Also columns at row  0 to 2 (2nd index not included)
   Age
a   34
b   30